@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <img src="~/img/dinarbet.png" class="img-fluid">
    <h5>На данном сайте размещена информация о букмекерской конторе!</h5>
</div>
