@model WebProject.Data.Entity.Client

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Добавить клиента</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date_birthday" class="control-label"></label>
                    <input asp-for="Date_birthday" class="form-control" />
                    <span asp-validation-for="Date_birthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date_registration" class="control-label"></label>
                    <input asp-for="Date_registration" class="form-control" />
                    <span asp-validation-for="Date_registration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Seria" class="control-label"></label>
                    <input asp-for="Seria" class="form-control" />
                    <span asp-validation-for="Seria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nomer" class="control-label"></label>
                    <input asp-for="Nomer" class="form-control" />
                    <span asp-validation-for="Nomer" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-12 row">
                        <div class="col-4">
                            <input type="submit" class="btn btn-success w-150" value="Создать" />
                        </div>
                        <div class="col-4">
                            <a asp-action="Index" class="btn btn-info w-150">Вернуться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

