@model WebProject.Data.Entity.Staff

<form method="post" asp-action="Update">
    <input asp-for="Id" hidden />
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Изменение информации о сотруднике</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Staff_name" class="control-label"></label>
                    <input asp-for="Staff_name" class="form-control" />
                    <span asp-validation-for="Staff_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Staff_surname" class="control-label"></label>
                    <input asp-for="Staff_surname" class="form-control" />
                    <span asp-validation-for="Staff_surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone_number" class="control-label"></label>
                    <input asp-for="Phone_number" class="form-control" />
                    <span asp-validation-for="Phone_number" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-12 row">
                        <div class="col-5">
                            <input type="submit" class="btn btn-success w-150" value="Подтвердить" />
                        </div>
                        <div class="col-4">
                            <a asp-action="Index" class="btn btn-info w-150">Вернуться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

